<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dados Escolares</title>
  <style>
    body {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background: azure;
      margin: 0;
      padding: 0;
      /* Deixa o formulário ao centro */
      display: flex; 
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    form {
      margin-top: 25px;
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    label {
      margin-bottom: 5px;
    }
    input, select {
      width: 90%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #eee;
      border-radius: 5px;
      box-sizing: border-box;
    }
    .form {
        margin-top: 40px;
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
      }
  </style>
</head>
<body>
  <div class="form">
    <% rows.forEach(function(row) { %>
      <label for="taxaAprovacao">Taxa de Aprovação:</label>
      <input type="text" id="taxaAprovacao" name="taxaAprovacao" value="<%= row.taxa_aprovacao %>" readonly />
 
      <label for="indicadorRendimento">Indicador de Rendimento:</label>
      <input type="text" id="indicadorRendimento" name="indicadorRendimento" value="<%= row.indicador_rendimento %>" readonly />
 
      <label for="notaMatematica">Nota SAEB em Matemática:</label>
      <input type="text" id="notaMatematica" name="notaMatematica" value="<%= row.nota_saeb_matematica %>" readonly />
 
      <label for="notaPortugues">Nota SAEB em Língua Portuguesa:</label>
      <input type="text" id="notaPortugues" name="notaPortugues" value="<%= row.nota_saeb_lingua_portuguesa %>" readonly />
 
      <label for="notaPadronizada">Nota Média Padronizada:</label>
      <input type="text" id="notaPadronizada" name="notaPadronizada" value="<%= row.nota_saeb_media_padronizada %>" readonly />
 
      <label for="ideb">IDEB:</label>
      <input type="text" id="ideb" name="ideb" value="<%= row.ideb %>" readonly />
 
      <label for="projecao">Projeção:</label>
      <input type="text" id="projecao" name="projecao" value="<%= row.projecao %>" readonly />
    <% }); %>
  </div>
</body>
</html>